@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

body {
  font-family: @bodyfont;
  font-size: 1em;
  color: @black;
  margin: 0;
  background-color: @beige;
}

.wrapper{
	max-width: 1170px;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#headerWrapper{
	overflow: hidden;
	background-color: white;
	padding-bottom: 10px;
	#mainLogo{
		float: left;
		width: 160px;
		margin-left: 140px;
		margin-top: 15px;
	}
	ul{
		float: right;
		margin-right: 50px;
		margin-top: 35px;
		li{
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
			a{
				img{
					width: 50px;

				}
			}
		}
	}
	#donate{
		float: right;
		width: 140px;
		margin-top:-30px;
		margin-right: 10px;
	}
}

#navWrapper{
	background: -webkit-linear-gradient(top, @darkergreen 0%,@darkgreen 50%,@darkergreen 100%);
	margin-top: -33px;
	padding: 15px 0;
	nav{
		text-align: center;
		ul {
			margin: 0;
			li{
				display: inline-block;
				margin: 0 25px;
				a{
					font-size: 1.2em;
					.textShadow;
				}
			}
		}
	}
}

#sliderWrapper{
	background: -webkit-linear-gradient(top, @darkergreen 0%,@darkgreen 50%,@darkergreen 100%);
	overflow: hidden;
	text-align: center;
	padding: 20px 0;
	section{
		display: inline-block;
		clear: both;
		margin: 0 35px;
		color: @white;
		img{
			height: 80px;
			float: left;
		}
		div.sliderText{
			float: left;
			width: 200px;
			text-align: left;
			margin-left: 10px;
			h1{
				margin: 0;
				.textShadow;
			}
			p{
				margin: 5px 0;
				line-height: 1.1em;
			}
		}

	}
}

#mainContentWrapper{
	background-color: @beige;
	overflow: hidden;
	padding-top: 35px;
	.leftCol{
		overflow: hidden;
		max-width: 520px;
		width: 44%;
		float: left;
		h2{
			margin-top: 0;
			color: @darkgreen;
		}
		.blogPost{
			overflow: hidden;
			width: 100%;
			img{
				float: left;
			}
			.floatText{
				float: left;
				margin-left: 20px;
				width: 320px;
				h3{
					margin: 0;
					font-size: 1.4em;
				}
				p{
					margin: 0;
				}
				.blogDate{
					color: @darkergreen;
				}
			}
		}
		a.readMore{
			color: @white;
			background-color: @brown;
			padding: 7px;
			margin-bottom: 30px;
			display: inline-block;
			float: right;
		}
	}
	.rightCol{
		overflow: hidden;
		max-width: 520px;
		width: 44%;
		float: right;
		h2{
			margin-top: 0;
			color: @darkgreen;
		}
		img{
			width: 100%;
		}
	}
}

#sponsorsWrapper{
	background-color: @darkgreen;
	border-top: solid @green 10px;
	border-bottom: solid @green 10px;
	text-align: center;
	color: @white;
	margin-bottom: 50px;
	ul{
		border-top: dotted 2px @white;
		width: 100%;
		max-width: 800px;
		margin: auto;
		padding: 0;
		li{
			display: inline-block;
			margin: 20px 10px;
			a{
				color: @white;
			}
		}
	}
}

#footerWrapper{
	background: -webkit-linear-gradient(top, @darkergreen 0%,@darkgreen 50%,@darkergreen 100%);

	text-align: center;
	padding: 25px 0;
	.footerLists{
		border-bottom: 1px solid darken(@green, 20%);
		max-width: 1170px;
		margin: 0 auto;
		padding-bottom: 15px;	
		ul{
			display: inline-block;
			vertical-align: top;
			margin-top: 0;
			text-align: left;
			margin: 0 15px;
			padding: 0;
			list-style: none;
			li h3{
				margin: 0 0 10px;
				font-size: 1em;
				color: @green;
			}
			li a{
				font-size: 0.8em;
			}
		}
		ul.socialMedia{
			border-right: 1px solid darken(@green, 20%);
			padding-right: 25px;
		}
		.footerBlog{
			display: inline-block;
			vertical-align: top;
			text-align: left;
			margin: 0 15px;
			h3{
				margin-top: 0px;
				font-size: 1em;
				color: @green;
			}
		}
		section{
			display: inline-block;
			text-align: left;
			margin-top: 10px;
			margin: 0px 15px;
			border-left: 1px solid darken(@green, 20%);
			height: 100px;
			padding-left: 15px;
			h3{
				margin: 0px;
				font-size: 1em;
				color: @green;
			}
			p{
				margin: 7px 0;
				color: @white;
				font-size: 0.8em;
			}
		}
		
	}
	p.legal{
			font-size: 0.8em;
			color: @white;
		}
}
