a:link {
  color: #b68d3d;
  text-decoration: none;
}
a:hover {
  color: #dac189;
  text-decoration: none;
}
a:visited {
  color: #ad8936;
  text-decoration: none;
}
p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  line-height: 1.7em;
}
h1,
h2,
h3,
h4 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.4em;
}
