a:link {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #c0d860;
  text-decoration: none;
}
a:visited {
  color: #bfbfbf;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.7em;
}
h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.4em;
}
.textShadow {
  text-shadow: 2px 2px 2px #000000;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #141414;
  margin: 0;
  background-color: #f0f0d8;
}
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#headerWrapper {
  overflow: hidden;
  background-color: white;
  padding-bottom: 10px;
}
#headerWrapper #mainLogo {
  float: left;
  width: 160px;
  margin-left: 140px;
  margin-top: 15px;
}
#headerWrapper ul {
  float: right;
  margin-right: 50px;
  margin-top: 35px;
}
#headerWrapper ul li {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
#headerWrapper ul li a img {
  width: 50px;
}
#headerWrapper #donate {
  float: right;
  width: 140px;
  margin-top: -30px;
  margin-right: 10px;
}
#navWrapper {
  background: -webkit-linear-gradient(top, #556a3f 0%, #607848 50%, #556a3f 100%);
  margin-top: -33px;
  padding: 15px 0;
}
#navWrapper nav {
  text-align: center;
}
#navWrapper nav ul {
  margin: 0;
}
#navWrapper nav ul li {
  display: inline-block;
  margin: 0 25px;
}
#navWrapper nav ul li a {
  font-size: 1.2em;
  text-shadow: 2px 2px 2px #000000;
}
#sliderWrapper {
  background: -webkit-linear-gradient(top, #556a3f 0%, #607848 50%, #556a3f 100%);
  overflow: hidden;
  text-align: center;
  padding: 20px 0;
}
#sliderWrapper section {
  display: inline-block;
  clear: both;
  margin: 0 35px;
  color: #ffffff;
}
#sliderWrapper section img {
  height: 80px;
  float: left;
}
#sliderWrapper section div.sliderText {
  float: left;
  width: 200px;
  text-align: left;
  margin-left: 10px;
}
#sliderWrapper section div.sliderText h1 {
  margin: 0;
  text-shadow: 2px 2px 2px #000000;
}
#sliderWrapper section div.sliderText p {
  margin: 5px 0;
  line-height: 1.1em;
}
#mainContentWrapper {
  background-color: #f0f0d8;
  overflow: hidden;
  padding-top: 35px;
}
#mainContentWrapper .leftCol {
  overflow: hidden;
  max-width: 520px;
  width: 44%;
  float: left;
}
#mainContentWrapper .leftCol h2 {
  margin-top: 0;
  color: #607848;
}
#mainContentWrapper .leftCol .blogPost {
  overflow: hidden;
  width: 100%;
}
#mainContentWrapper .leftCol .blogPost img {
  float: left;
}
#mainContentWrapper .leftCol .blogPost .floatText {
  float: left;
  margin-left: 20px;
  width: 320px;
}
#mainContentWrapper .leftCol .blogPost .floatText h3 {
  margin: 0;
  font-size: 1.4em;
}
#mainContentWrapper .leftCol .blogPost .floatText p {
  margin: 0;
}
#mainContentWrapper .leftCol .blogPost .floatText .blogDate {
  color: #556a3f;
}
#mainContentWrapper .leftCol a.readMore {
  color: #ffffff;
  background-color: #604848;
  padding: 7px;
  margin-bottom: 30px;
  display: inline-block;
  float: right;
}
#mainContentWrapper .rightCol {
  overflow: hidden;
  max-width: 520px;
  width: 44%;
  float: right;
}
#mainContentWrapper .rightCol h2 {
  margin-top: 0;
  color: #607848;
}
#mainContentWrapper .rightCol img {
  width: 100%;
}
#sponsorsWrapper {
  background-color: #607848;
  border-top: solid #c0d860 10px;
  border-bottom: solid #c0d860 10px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}
#sponsorsWrapper ul {
  border-top: dotted 2px #ffffff;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0;
}
#sponsorsWrapper ul li {
  display: inline-block;
  margin: 20px 10px;
}
#sponsorsWrapper ul li a {
  color: #ffffff;
}
#footerWrapper {
  background: -webkit-linear-gradient(top, #556a3f 0%, #607848 50%, #556a3f 100%);
  text-align: center;
  padding: 25px 0;
}
#footerWrapper .footerLists {
  border-bottom: 1px solid #8fa929;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 15px;
}
#footerWrapper .footerLists ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  text-align: left;
  margin: 0 15px;
  padding: 0;
  list-style: none;
}
#footerWrapper .footerLists ul li h3 {
  margin: 0 0 10px;
  font-size: 1em;
  color: #c0d860;
}
#footerWrapper .footerLists ul li a {
  font-size: 0.8em;
}
#footerWrapper .footerLists ul.socialMedia {
  border-right: 1px solid #8fa929;
  padding-right: 25px;
}
#footerWrapper .footerLists .footerBlog {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 15px;
}
#footerWrapper .footerLists .footerBlog h3 {
  margin-top: 0px;
  font-size: 1em;
  color: #c0d860;
}
#footerWrapper .footerLists section {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  margin: 0px 15px;
  border-left: 1px solid #8fa929;
  height: 100px;
  padding-left: 15px;
}
#footerWrapper .footerLists section h3 {
  margin: 0px;
  font-size: 1em;
  color: #c0d860;
}
#footerWrapper .footerLists section p {
  margin: 7px 0;
  color: #ffffff;
  font-size: 0.8em;
}
#footerWrapper p.legal {
  font-size: 0.8em;
  color: #ffffff;
}
