a:link {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #c0d860;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.7em;
}
h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.4em;
}
.textShadow {
  text-shadow: 2px 2px 2px #000000;
}
.boxShadow {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #141414;
  margin: 0;
  background-color: #f0f0d8;
}
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
#headerWrapper {
  overflow: hidden;
  background-color: white;
  padding-bottom: 10px;
}
#headerWrapper #mainLogo {
  float: left;
  width: 160px;
  margin-left: 140px;
  margin-top: 15px;
}
#headerWrapper ul {
  float: right;
  margin-right: 50px;
  margin-top: 35px;
  padding-left: 0;
}
#headerWrapper ul li {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
#headerWrapper ul li a img {
  width: 50px;
}
#headerWrapper #donate {
  float: right;
  width: 140px;
  margin-top: -30px;
  margin-right: 10px;
}
#navWrapper {
  background: -webkit-linear-gradient(top, #556a3f 0%, #607848 50%, #556a3f 100%);
  margin-top: -33px;
}
#navWrapper img#menuButton {
  display: none;
}
#navWrapper nav {
  text-align: center;
}
#navWrapper nav ul {
  margin: 0;
  padding: 0;
}
#navWrapper nav ul li {
  display: inline-block;
  margin: 0 25px;
  padding: 15px 0;
}
#navWrapper nav ul li a {
  font-size: 1.2em;
  text-shadow: 2px 2px 2px #000000;
}
#navWrapper nav ul li:hover ul {
  display: block;
}
#navWrapper nav ul li ul {
  position: absolute;
  display: none;
  background-color: #556a3f;
  padding: 0;
  margin-top: 15px;
  z-index: 100;
  width: 200px;
}
.dropDown {
  display: block;
  width: 100%;
}
#mainSliderWrapper {
  background-color: #fbfbf5;
  padding-top: 30px;
}
#sliderWrapper {
  background: -webkit-linear-gradient(top, #556a3f 0%, #607848 50%, #556a3f 100%);
  overflow: hidden;
  text-align: center;
  padding: 20px 0;
}
#sliderWrapper section {
  display: inline-block;
  clear: both;
  margin: 0 35px;
  color: #ffffff;
  vertical-align: middle;
}
#sliderWrapper section img {
  height: 80px;
  float: left;
}
#sliderWrapper section div.sliderText {
  float: left;
  width: 200px;
  text-align: left;
  margin-left: 10px;
}
#sliderWrapper section div.sliderText h1 {
  margin: 0;
  text-shadow: 2px 2px 2px #000000;
}
#sliderWrapper section div.sliderText p {
  margin: 5px 0;
  line-height: 1.1em;
}
#mainContentWrapper {
  background-color: #f0f0d8;
  overflow: hidden;
  padding-top: 35px;
}
#mainContentWrapper .leftCol {
  overflow: hidden;
  width: 44%;
  float: left;
}
#mainContentWrapper .leftCol h2 {
  margin-top: 0;
  color: #607848;
}
#mainContentWrapper .leftCol .blogPost {
  overflow: hidden;
  width: 100%;
}
#mainContentWrapper .leftCol .blogPost img {
  float: left;
  width: 30%;
}
#mainContentWrapper .leftCol .blogPost .floatText {
  float: left;
  margin-left: 5%;
  width: 65%;
}
#mainContentWrapper .leftCol .blogPost .floatText h3 {
  margin: 0;
  font-size: 1.4em;
}
#mainContentWrapper .leftCol .blogPost .floatText p {
  margin: 0;
}
#mainContentWrapper .leftCol .blogPost .floatText .blogDate {
  color: #556a3f;
}
#mainContentWrapper .leftCol a.readMore {
  color: #ffffff;
  background-color: #604848;
  padding: 7px;
  margin-bottom: 30px;
  display: inline-block;
  float: right;
}
#mainContentWrapper .rightCol {
  overflow: hidden;
  width: 44%;
  float: right;
}
#mainContentWrapper .rightCol h2 {
  margin-top: 0;
  color: #607848;
}
#mainContentWrapper .rightCol img {
  width: 100%;
}
#mainContentWrapper p.breadCrumbs {
  color: #607848;
}
#mainContentWrapper p.breadCrumbs a {
  color: #607848;
}
#mainContentWrapper h1.eventsPage {
  color: #607848;
  border-bottom: 1px solid #c0d860;
  padding-bottom: 20px;
}
#mainContentWrapper .upcommingEvent {
  background-color: #e9e9c6;
  padding: 0 20px 20px;
  overflow: hidden;
  clear: both;
  margin-bottom: 30px;
}
#mainContentWrapper .upcommingEvent h2 {
  color: #141414;
  text-decoration: underline;
}
#mainContentWrapper .upcommingEvent .leftContent {
  float: left;
  width: 48%;
}
#mainContentWrapper .upcommingEvent .leftContent h3 {
  font-size: 1.4em;
}
#mainContentWrapper .upcommingEvent .rightContent {
  float: right;
  width: 48%;
}
#mainContentWrapper .upcommingEvent .rightContent .eventInfo p {
  display: inline-block;
  vertical-align: top;
  max-width: 75%;
}
#mainContentWrapper .upcommingEvent .rightContent .eventInfo p.catagory {
  color: #607848;
  margin-right: 15px;
  font-weight: bold;
}
#mainContentWrapper .upcommingEvent p.extraText {
  clear: both;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}
#mainContentWrapper .pastEvent {
  padding-bottom: 30px;
  overflow: hidden;
  clear: both;
}
#mainContentWrapper .pastEvent .leftContent {
  float: left;
  width: 48%;
  border: solid 6px white;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}
#mainContentWrapper .pastEvent .leftContent h3 {
  font-size: 1.4em;
}
#mainContentWrapper .pastEvent .rightContent {
  float: right;
  width: 48%;
}
#mainContentWrapper .pastEvent .rightContent h2 {
  color: #141414;
  text-decoration: underline;
  margin-top: 0px;
}
#mainContentWrapper .pastEvent .rightContent h3 {
  font-size: 1.4em;
}
#mainContentWrapper h1.donationPage {
  color: #607848;
  border-bottom: #c0d860 solid 1px;
}
#mainContentWrapper .rightColumn {
  width: 48%;
  overflow: hidden;
  float: right;
}
#mainContentWrapper .rightColumn h2 {
  color: #607848;
  border-bottom: solid black 1px;
}
#mainContentWrapper .rightColumn form {
  clear: all;
}
#mainContentWrapper .rightColumn form h3 {
  margin: 15px 0;
  font-weight: normal;
  border-bottom: solid black 1px;
}
#mainContentWrapper .rightColumn form div.paymentTotal input.mainCash {
  font-size: 2.2em;
  padding: 5px;
  width: 200px;
  display: block;
}
#mainContentWrapper .rightColumn form div.paymentTotal p {
  display: inline;
  margin-right: 15px;
}
#mainContentWrapper .rightColumn form p {
  margin: 0;
}
#mainContentWrapper .rightColumn form div {
  float: left;
  margin: 10px 0;
}
#mainContentWrapper .rightColumn form input {
  margin: 0;
  font-size: 1.2em;
}
#mainContentWrapper .rightColumn form .firstName,
#mainContentWrapper .rightColumn form .city,
#mainContentWrapper .rightColumn form .postalCode,
#mainContentWrapper .rightColumn form .email,
#mainContentWrapper .rightColumn form .cardNumber,
#mainContentWrapper .rightColumn form .expYear {
  width: 49%;
  margin-right: 2%;
}
#mainContentWrapper .rightColumn form .firstName input,
#mainContentWrapper .rightColumn form .city input,
#mainContentWrapper .rightColumn form .postalCode input,
#mainContentWrapper .rightColumn form .email input,
#mainContentWrapper .rightColumn form .cardNumber input,
#mainContentWrapper .rightColumn form .expYear input {
  width: 100%;
}
#mainContentWrapper .rightColumn form .lastName,
#mainContentWrapper .rightColumn form .country,
#mainContentWrapper .rightColumn form .phoneNumber,
#mainContentWrapper .rightColumn form .expMonth {
  width: 49%;
}
#mainContentWrapper .rightColumn form .lastName input,
#mainContentWrapper .rightColumn form .country input,
#mainContentWrapper .rightColumn form .phoneNumber input,
#mainContentWrapper .rightColumn form .expMonth input {
  width: 100%;
}
#mainContentWrapper .rightColumn form .lastName select,
#mainContentWrapper .rightColumn form .country select,
#mainContentWrapper .rightColumn form .phoneNumber select,
#mainContentWrapper .rightColumn form .expMonth select {
  width: 100%;
}
#mainContentWrapper .rightColumn form .address {
  width: 75%;
  margin-right: 2%;
}
#mainContentWrapper .rightColumn form .address input {
  width: 100%;
}
#mainContentWrapper .rightColumn form .province {
  width: 23%;
}
#mainContentWrapper .rightColumn form .province select {
  width: 100%;
}
#mainContentWrapper .rightColumn form div.paymentInformation {
  clear: both;
  overflow: hidden;
}
#mainContentWrapper .rightColumn form div.paymentInformation p.input {
  display: inline;
  margin-right: 15px;
}
#mainContentWrapper .rightColumn form div.paymentInformation div.creditChoice {
  width: 100%;
}
#mainContentWrapper .rightColumn form div.paymentInformation .submitDonate {
  display: block;
  float: none;
  clear: both;
  color: #ffffff;
  background-color: #607848;
  border: none;
  padding: 15px 45px;
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 25px;
  -webkit-transition: all 0.3s;
}
#mainContentWrapper .rightColumn form div.paymentInformation .submitDonate:hover {
  background-color: #556a3f;
}
#sponsorsWrapper {
  background-color: #607848;
  border-top: solid #c0d860 10px;
  border-bottom: solid #c0d860 10px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}
#sponsorsWrapper ul {
  border-top: dotted 2px #ffffff;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0;
}
#sponsorsWrapper ul li {
  display: inline-block;
  margin: 20px 10px;
}
#sponsorsWrapper ul li a {
  color: #ffffff;
}
#footerWrapper {
  background: -webkit-linear-gradient(top, #556a3f 0%, #607848 50%, #556a3f 100%);
  text-align: center;
  padding: 25px 0;
}
#footerWrapper .footerLists {
  border-bottom: 1px solid #8fa929;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 15px;
}
#footerWrapper .footerLists ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  text-align: left;
  margin: 0 15px;
  padding: 0;
  list-style: none;
}
#footerWrapper .footerLists ul li h3 {
  margin: 0 0 10px;
  font-size: 1em;
  color: #c0d860;
}
#footerWrapper .footerLists ul li a {
  font-size: 0.8em;
}
#footerWrapper .footerLists ul.socialMedia {
  border-right: 1px solid #8fa929;
  padding-right: 25px;
}
#footerWrapper .footerLists .footerBlog {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 15px;
}
#footerWrapper .footerLists .footerBlog h3 {
  margin-top: 0px;
  font-size: 1em;
  color: #c0d860;
}
#footerWrapper .footerLists section {
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  margin: 0px 15px;
  border-left: 1px solid #8fa929;
  height: 100px;
  padding-left: 15px;
}
#footerWrapper .footerLists section h3 {
  margin: 0px;
  font-size: 1em;
  color: #c0d860;
}
#footerWrapper .footerLists section p {
  margin: 7px 0;
  color: #ffffff;
  font-size: 0.8em;
}
#footerWrapper p.legal {
  font-size: 0.8em;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  #headerWrapper #donate {
    float: right;
    width: 100px;
    margin-top: -23px;
    margin-right: 10px;
  }
  #headerWrapper #mainLogo {
    float: left;
    width: 120px;
    margin-left: 0px;
    margin-top: 15px;
  }
  #navWrapper {
    margin-top: -25px;
  }
  #navWrapper img#menuButton {
    display: block;
    width: 80px;
    padding: 15px;
  }
  #navWrapper nav {
    text-align: center;
  }
  #navWrapper nav ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #c0d860;
  }
  #navWrapper nav ul li {
    display: block;
    margin: 0;
    padding: 10px 0;
    border-bottom: solid 2px #556a3f;
  }
  #navWrapper nav ul li a {
    font-size: 1.4em;
  }
  #navWrapper nav ul li:hover ul {
    display: none;
  }
  #navWrapper nav ul li ul {
    position: inherit;
    display: none;
    background-color: #556a3f;
    padding: 0;
    margin-top: 15px;
    z-index: 100;
    width: 100%;
  }
  #navWrapper nav ul li ul li {
    border-bottom: solid 2px #607848;
  }
  #mainContentWrapper .leftCol,
  #mainContentWrapper .rightCol {
    width: 100%;
    float: none;
    margin: 0;
    padding: 20px;
    font-size: 1.1em;
  }
  #mainContentWrapper .leftCol a.readMore {
    padding: 15px;
  }
  .footerLists {
    font-size: 1.2em;
  }
  .footerLists ul li h3 {
    margin-top: 10px;
  }
}
@media screen and (max-width: 550px) {
  #headerWrapper {
    overflow: hidden;
    background-color: white;
    padding-bottom: 10px;
  }
  #headerWrapper #mainLogo {
    float: left;
    width: 100px;
    margin-left: 0px;
    margin-top: 15px;
  }
  #headerWrapper ul {
    float: right;
    margin-right: 10px;
    margin-top: 35px;
    padding-left: 0;
  }
  #headerWrapper ul li {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  #headerWrapper ul li a img {
    width: 44px;
  }
  #headerWrapper #donate {
    width: 75px;
    margin-top: 0;
    margin-right: 0;
  }
  #navWrapper img#menuButton {
    display: block;
    width: 60px;
    padding: 10px;
  }
  #sliderWrapper section {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
  #sliderWrapper section div.sliderText {
    width: 62%;
    float: right;
    padding-top: 10px;
  }
  #mainSliderWrapper,
  #footerWrapper,
  #sponsorsWrapper {
    display: none;
  }
  #mainContentWrapper .leftCol .blogPost img {
    float: none;
    width: auto;
  }
  #mainContentWrapper .leftCol .blogPost .floatText {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 360px) {
  #headerWrapper #mainLogo {
    width: 90px;
  }
  #headerWrapper ul {
    margin: 20px 0 0;
  }
  #headerWrapper #donate {
    width: 70px;
  }
  #sliderWrapper section img {
    height: 60px;
    margin-left: 5px;
  }
  #sliderWrapper section div.sliderText {
    width: 70%;
    float: right;
    padding-top: 10px;
  }
  #sliderWrapper section div.sliderText h1 {
    font-size: 1.7em;
  }
}
