
// Typography
@bodyfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@headingsfont:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;

// Colours

@darkBrown: #2C1901;
@brown: #894200;
@lightBrown: #B68D3D;
@cream: #DAC189;
@white: #EBDDC0;
