
// Typography
@bodyfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@headingsfont:"Helvetica Neue", Helvetica, Arial, sans-serif;

// Colours

@darkergreen: #556a3f;
@darkgreen: #607848;
@green: #c0d860;
@orange: #f69e24;
@white: #ffffff;
@beige: #f0f0d8;
@black: #141414;
@brown: #604848;
